.img{
  height: 70%;
  border-radius: 30%;
}

.result{
  font-size: 50px;
}

.result p{
  display: inline;
}

#images{
  background-color: blue;
  height: 150px;
  border-radius: 30px;
  border-style: solid;
  border-color:blueviolet;
  border-width: 10px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}